@import url('../common.scss');

@mixin disflex {
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes openSignUpModal {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.header-sign-up-wrapper {
    // border: 1px solid rgb(0, 117, 255, .9);
    background: #fff;
    width: 400px;
    height: 650px;
    overflow: hidden;
    transition-duration: 0.3s;
    animation: openSignUpModal 0.5s forwards 1;

    position: fixed;
    top: 52%;
    left: 50%;
    transform: translate(-50%, -50%);

    z-index: 2000;

    .header-sign-up-btn-box {
        width: 100%;
        height: 25px;
        display: flex;

        position: absolute;
        top: 0;
        left: 0;

        .header-sign-up-back-btn-box {
            width: 50%;
            height: 100%;

            .header-sign-up-back-btn {
                color: rgb(0, 117, 255, .9);
                background: none;
                width: 25px;
                height: 100%;
                font-size: 16px;
                cursor: pointer;
                @include disflex();
            }
        }

        .header-sign-up-close-btn-box {
            width: 50%;
            height: 100%;
            display: flex;
            justify-content: right;

            .header-sign-up-close-btn {
                color: rgb(0, 117, 255, .9);
                background: none;
                width: 25px;
                height: 100%;
                font-size: 16px;
                cursor: pointer;
                @include disflex();
            }
        }
    }

    .header-sign-up-logo-box {
        width: 100%;
        height: 150px;

        .header-sign-up-logo {
            color: rgb(0, 117, 255, .9);
            width: 100%;
            height: 100%;
            @include disflex();
        }
    }

    .header-sign-up-user-info-wrapper {
        width: 100%;
        height: 550px;

        .header-sign-up-user-info {
            width: 90%;
            height: 600px;
            margin: 0 auto;

            .header-sign-up-user-info-list-box {
                width: 100%;
                height: 450px;

                .header-sign-up-user-info-list {
                    width: 100%;
                    height: 10%;
                    margin-bottom: 35px;
                    display: flex;
                }

                .header-sign-up-user-info-title-box {
                    background: rgb(0, 117, 255, .9);
                    border: 1px solid rgb(0, 117, 255, .9);
                    border-radius: 5px 0 0 5px;
                    border-right: none;
                    width: 15%;
                    height: 100%;

                    .header-sign-up-user-info-title {
                        color: #fff;
                        width: 100%;
                        height: 100%;
                        font-size: 30px;
                        font-weight: bold;
                        letter-spacing: 0;
                        @include disflex();
                    }
                }

                .header-sign-up-user-info-input {
                    border: 2px solid rgb(0, 117, 255, .9);
                    border-radius: 0 5px 5px 0;
                    border-left: none;
                    width: 85%;
                    height: 100%;
                    padding-left: 2%;
                    letter-spacing: 1px;

                    &:focus {
                        outline: none;
                    }

                    &::placeholder {
                        font-size: 13px;
                        letter-spacing: -1px;
                    }
                }
            }
        }
    }

    .header-sign-in-btn-box {
        width: 100%;
        height: 100px;
        @include disflex();

        .header-sign-in-btn {
            background: rgb(0, 117, 255, .9);
            border-radius: 5px;
            width: 90%;
            height: 50%;
            transition-duration: .3s;
            cursor: pointer;
            @include disflex();

            &:hover {
                background: rgb(0, 117, 255, .7);
            }

            .header-sign-in-btn-text {
                color: #fff;
                width: 100%;
                height: 100%;
                font-size: 16px;
                font-weight: bold;
                @include disflex();
            }
        }
    }
}