@import url('../common.scss');

@mixin disflex {
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes openSignUpSelectInfoModal {
    0% {
        transform: translate(0, -50%);
        width: 500px;
        height: 600px;
        opacity: 0;
    }

    100% {
        transform: translate(-50%, -50%);
        width: 500px;
        height: 600px;
        opacity: 1;
    }
}

@keyframes closeSelectInfoModal {
    0% {
        width: 500px;
        height: 600px;
        opacity: 1;
    }

    100% {
        width: 500px;
        height: 600px;
        opacity: 0;
    }
}

.movie-sign-up-select-info-wrapper {
    background: #eee;
    width: 500px;
    height: 600px;
    transition-duration: 0.3s;
    animation: openSignUpSelectInfoModal 1s forwards 1;
    opacity: 0;

    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    z-index: 2001;

    .movie-sign-up-select-info-box {
        width: 100%;
        height: 100%;

        // 뒤로가기/닫기 버튼
        .movie-sign-up-select-info-btn-box {
            width: 100%;
            height: 30px;
            display: flex;
            position: absolute;
            top: 0;
            left: 0;

            .movie-sign-up-select-info-btn {
                color: rgb(0, 117, 255, .9);
                width: 25px;
                height: 100%;
                font-size: 16px;
                font-weight: bold;
                cursor: pointer;
                @include disflex();
            }

            .back {
                @include disflex();
                z-index: 2002;
            }

            .close-box {
                display: flex;
                justify-content: right;
                align-items: center;
            }
        }

        .movie-sign-up-select-info-progress-bar-wrapper {
            width: 90%;
            margin: 0 auto;
        }

        .movie-sign-up-user-select-info-wrapper {
            width: 100%;
            height: 360px;
            
            .movie-sign-up-user-select-info-box {
                width: 100%;
                height: 100%;
                
                .movie-sign-up-select-info-list-box {
                    width: 90%;
                    height: 75%;
                    margin: 0 auto;
                    
                    .movie-sign-up-select-info-list {
                        width: 100%;
                        height: 50px;
                        margin-bottom: 40px;
                        display: flex;
                        
                        &:first-child {
                            margin-top: 45px;
                        }
                    }

                    .header-sign-up-user-select-info-title-box {
                        background: rgb(0, 117, 255, .9);
                        border: 1px solid rgb(0, 117, 255, .9);
                        border-radius: 5px 0 0 5px;
                        border-right: none;
                        width: 15%;
                        height: 100%;

                        .header-sign-up-user-select-info-title {
                            color: #fff;
                            width: 100%;
                            height: 100%;
                            font-size: 30px;
                            font-weight: bold;
                            letter-spacing: 0;
                            @include disflex();
                        }
                    }

                    .header-sign-up-user-select-info-input {
                        border: 2px solid rgb(0, 117, 255, .9);
                        border-radius: 0 5px 5px 0;
                        border-left: none;
                        width: 85%;
                        height: 100%;
                        padding-left: 2%;
                        letter-spacing: 1px;
                        
                        &:focus {
                            outline: none;
                        }

                        &::placeholder {
                            font-size: 13px;
                            letter-spacing: -1px;
                        }
                    }
                }

                .header-sign-up-completion-btn-wrapper {
                    width: 100%;
                    height: 70px;
                    @include disflex();
                    
                    .header-sign-up-completion-btn {
                        background: rgb(0, 117, 255, .9);
                        border-radius: 5px;
                        border: none;
                        width: 100%;
                        height: 70%;
                        transition-duration: .3s;
                        cursor: pointer;
                        @include disflex();

                        &:hover {
                            background: rgb(0, 117, 255, .7);
                        }

                        .header-sign-up-completion-btn-text {
                            color: #fff;
                            width: 100%;
                            height: 100%;
                            font-size: 16px;
                            font-weight: bold;
                            @include disflex();
                        }
                    }
                }
            }
        }
    }
}