@import url('../common.scss');

@mixin disflex {
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    position: relative;
}

@keyframes openLoginModal {
    0% {
        opacity: 0;
    }
    
    100% {
        opacity: 1;
    }
}

@keyframes clickCloseModalBtn {
    0%{
        opacity: 1;
    } 100% {
        opacity: 0;
    }
}

@keyframes openSignUpShifted {
    0% {
        
    } 100% {

    }
}

.open-sign-up-shifted {

}

// 로그인 모달
#Header-Login-Wrapper {
    background: rgb(255, 255, 255);
    width: 400px;
    height: 600px;
    overflow: hidden;
    transition-duration: 0.3s;
    animation: openLoginModal 0.5s forwards 1;
    
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    z-index: 2000;


    // 닫기
    #Close-Login-Modal-Wrapper {
        width: 30px;
        height: 30px;
        @include disflex();
        position: absolute;
        top: 0;
        right: 0;

        #Login-Modal-Close-Btn {
            color: rgb(0, 117, 255, .9);
            font-size: 16px;
        }
        
        .header-login-close-btn {
            background: none;
            width: 100%;
            height: 100%;
            cursor: pointer;
        }
    }

    .header-login-box {
        width: 90%;
        height: 100%;
        margin: 0 auto;

        // Logo
        .header-login-logo-box {
            width: 100%;
            height: 25%;
            position: relative;

            .header-login-logo {
                color: rgb(0, 117, 255, .9);
                width: 50%;
                height: 100%;
                margin: 0 auto;
                @include disflex();

                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
        }

        // 사용자 정보 입력 창
        .header-login-user-info-box {
            width: 100%;
            height: 20%;

            .header-login-user-email-box {
                width: 100%;
                height: 50%;
                @include disflex();

                .header-login-icon {
                    background: rgb(0, 117, 255, .9);
                    border: 1px solid rgb(0, 117, 255, .9);
                    border-radius: 5px 0 0 5px;
                    border-right: none;
                    color: #fff;
                    width: 15%;
                    height: 85%;
                    font-size: 30px;
                    @include disflex();
                }

                .header-login-user-email {
                    background: rgb(255, 255, 255, .9);
                    border: 2px solid rgb(0, 117, 255, .9);
                    border-radius: 0 5px 5px 0;
                    color: #000;
                    width: 85%;
                    height: 85%;
                    padding-left: 2%;
                    font-size: 15px;
                    letter-spacing: 1px;
                    
                    &:focus {
                        outline: none;
                    }

                    &::placeholder {
                        font-size: 13px;
                        letter-spacing: -1px;
                    }
                }
            }
            
            .header-login-user-password-box {
                width: 100%;
                height: 50%;
                @include disflex();

                .header-login-icon {
                    background: rgb(0, 117, 255, .9);
                    border: 1px solid rgb(0, 117, 255, .9);
                    border-radius: 5px 0 0 5px;
                    border-right: none;
                    color: #fff;
                    width: 15%;
                    height: 85%;
                    font-size: 30px;
                    @include disflex();
                }
                
                .header-login-user-password {
                    background: rgb(255, 255, 255, .9);
                    border: 2px solid rgb(0, 117, 255, .9);
                    border-radius: 0 5px 5px 0;
                    color: #000;
                    width: 85%;
                    height: 85%;
                    padding-left: 2%;
                    font-size: 15px;
                    letter-spacing: 1px;
                    
                    &:focus {
                        outline: none;
                    }

                    &::placeholder {
                        font-size: 13px;
                        letter-spacing: -1px;
                    }
                }
            }
        }

        // 로그인 유지
        .header-login-keep-login-wrapper {
            width: 100%;
            height: 5%;

            .header-login-keep-login-box {
                width: 35%;
                height: 100%;
                padding-top: 4px;
                display: flex;
                justify-content: left;

                .header-login-keep-login-check-btn {
                    width: 20px;
                    height: 20px;
                    cursor: pointer;
                }

                .header-login-keep-login-text {
                    color: rgb(0, 117, 255, .9);
                    margin-left: 5px;
                    font-size: 13px;
                }
            }
        }

        // 로그인 클릭
        .header-login-login-box {
            width: 100%;
            height: 10%;
            @include disflex();

            .header-login-login {
                background: rgb(0, 117, 255, .9);
                border-radius: 5px;
                width: 100%;
                height: 80%;
                color: #fff;
                font-size: 16px;
                font-weight: bold;
                transition-duration: 0.3s;
                cursor: pointer;

                &:hover {
                    opacity: 0.8;
                }
            }
        }

        // 사용자 정보 찾기
        .header-login-find-info-wrapper {
            width: 100%;
            height: 5%;

            .header-login-find-info-box {
                width: 100%;
                height: 100%;
                @include disflex();

                .header-login-find-email-pw-box {
                    color: rgb(0, 117, 255, .9);
                    width: 75%;
                    height: 100%;
                    display: flex;
                    justify-content: center;

                    // 아이디 찾기
                    .header-login-find-email {
                        width: 45%;
                        height: 100%;
                        font-size: 13px;
                        @include disflex();

                        .header-login-find-email-text {
                            width: 65%;
                            cursor: pointer;
                        }
                    }

                    // 비밀번호 찾기
                    .header-login-find-pw {
                        width: 55%;
                        height: 100%;
                        font-size: 13px;
                        @include disflex();

                        .header-login-find-pw-text {
                            width: 65%;
                            cursor: pointer;
                        }
                    }
                }

                // 회원가입
                .header-login-signup-box {
                    width: 25%;
                    height: 100%;
                    @include disflex();

                    .header-login-signup {
                        background: none;
                        color: rgb(0, 117, 255, .9);
                        width: 60%;
                        height: 100%;
                        font-size: 13px;
                        font-weight: bold;
                        cursor: pointer;
                        @include disflex();
                    }
                }
            }
        }

        .block {
            width: 100%;
            height: 15%;
        }

        // 소셜 로그인 문구
        .header-login-social-login-text-box {
            width: 100%;
            height: 5%;
            display: flex;

            .header-login-social-login-text {
                color: rgb(0, 117, 255, .9);
                width: 100%;
                height: 100%;
                font-size: 13px;
                @include disflex();
            }
        }

        // 소셜 로그인
        .header-login-social-login-box {
            width: 100%;
            height: 15%;
            display: flex;
            justify-content: center;

            .header-login-social-login {
                width: 25%;
                height: 80%;

                .header-login-social-login-img-box {
                    width: 100%;
                    height: 100%;
                    @include disflex();

                    .header-login-social-login-img {
                        border-radius: 50%;
                        width: 40px;
                        height: 40px;
                        transition-duration: 0.3s;
                        cursor: pointer;

                        &:hover {
                            opacity: 0.8;
                        }
                    }

                    #Kakao {
                        background: url('../img/KakaoTalk-Logo.png') no-repeat;
                        background-size: 100%;
                    }

                    #Naver {
                        background: url('../img/Naver-Logo.png') no-repeat;
                        background-size: 100%;
                    }

                    #Google {
                        background: url('../img/Google-Logo.png') no-repeat;
                        background-size: 145%;
                        background-position-x: -8.5px;
                        background-position-y: -7px;
                    }
                }
            }
        }
    }
}