@import url('../common.scss');

@mixin disflex {
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes openSignUpModal {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes closeSignUpModal {
    0% {
        transform: translate(-50%, -50%);
        width: 500px;
        height: 600px;
        opacity: 1;
    }
    
    100% {
        transform: translate(-100%, -50%);
        width: 500px;
        height: 600px;
        opacity: 0;
    }
}

.header-sign-up-wrapper.shifted {
    animation: closeSignUpModal 1s forwards 1;
    transition-duration: .3s;
}

.header-sign-up-wrapper {
    background: #fff;
    width: 500px;
    height: 600px;
    overflow: hidden;
    transition-duration: 0.3s;
    animation: openSignUpModal 0.5s forwards 1;

    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    z-index: 2000;

    .header-sign-up-box {
        width: 100%;
        height: 100%;

        .header-sign-up-btn-box {
            width: 100%;
            height: 30px;
            display: flex;

            position: absolute;
            top: 0;
            left: 0;

            .header-sign-up-back-btn-box {
                width: 50%;
                height: 100%;

                .header-sign-up-back-btn {
                    color: rgb(0, 117, 255, .9);
                    background: none;
                    width: 25px;
                    height: 100%;
                    font-size: 16px;
                    cursor: pointer;
                    @include disflex();
                }
            }

            .header-sign-up-close-btn-box {
                width: 50%;
                height: 100%;
                display: flex;
                justify-content: right;

                .header-sign-up-close-btn {
                    color: rgb(0, 117, 255, .9);
                    background: none;
                    width: 25px;
                    height: 100%;
                    font-size: 16px;
                    cursor: pointer;
                    @include disflex();
                }
            }
        }

        // Logo
        .header-sign-up-logo-wrapper {
            width: 100%;
            height: 150px;
        }

        // 진행 상황 Bar
        .header-sign-up-progress-bar-wrapper {
            width: 100%;
            height: 75px;
            margin-bottom: 20px;
        }

        // 유저 정보 입력 창
        .header-sign-up-user-info-wrapper {
            width: 100%;
            height: 700px;

            .header-sign-up-user-info {
                width: 90%;
                height: 600px;
                margin: 0 auto;
                
                .header-sign-up-user-info-list-box {
                    width: 100%;
                    height: 280px;
                    
                    .header-sign-up-user-info-list {
                        width: 100%;
                        height: 50px;
                        margin-bottom: 40px;
                        display: flex;
                    }
                    
                    .header-sign-up-user-info-title-box {
                        background: rgb(0, 117, 255, .9);
                        border: 1px solid rgb(0, 117, 255, .9);
                        border-radius: 5px 0 0 5px;
                        border-right: none;
                        width: 15%;
                        height: 100%;
                        
                        .header-sign-up-user-info-title {
                            color: #fff;
                            width: 100%;
                            height: 100%;
                            font-size: 30px;
                            font-weight: bold;
                            letter-spacing: 0;
                            @include disflex();
                        }
                    }

                    .header-sign-up-user-info-input {
                        border: 2px solid rgb(0, 117, 255, .9);
                        border-radius: 0 5px 5px 0;
                        border-left: none;
                        width: 85%;
                        height: 100%;
                        padding-left: 2%;
                        letter-spacing: 1px;
                        
                        &:focus {
                            outline: none;
                        }

                        &::placeholder {
                            font-size: 13px;
                            letter-spacing: -1px;
                        }
                    }

                    #id {
                        width: 70%;
                        border-radius: 0;
                        border-right: none;
                    }

                    .header-sign-up-user-certify-email-box {
                        background: rgb(0, 117, 255, .9);
                        border: 2px solid rgb(0, 117, 255, .9);
                        border-radius: 0 5px 5px 0;
                        width: 15%;
                        height: 100%;
                        
                        .header-sign-up-user-certify-email {
                            background: rgb(0, 117, 255, .9);
                            border-radius: 0 5px 5px 0;
                            width: 100%;
                            height: 100%;
                            cursor: pointer;

                            .header-sign-up-user-certify-email-text {
                                color: #fff;
                                width: 100%;
                                height: 35%;
                                font-size: 13px;
                                font-weight: bold;
                                letter-spacing: -1px;
                            }
                        }
                    }
                }

                .header-sign-up-next-btn-box {
                    width: 100%;
                    height: 50px;
                    
                    .header-sign-up-next-btn {
                        background: rgb(0, 117, 255, .9);
                        border-radius: 5px;
                        border: none;
                        width: 100%;
                        height: 100%;
                        transition-duration: .3s;
                        cursor: pointer;
                        @include disflex();

                        &:hover {
                            background: rgb(0, 117, 255, .7);
                        }

                        .header-sign-up-next-btn-text {
                            color: #fff;
                            width: 100%;
                            height: 100%;
                            font-size: 16px;
                            font-weight: bold;
                            @include disflex();
                        }
                    }
                }
            }
        }
    }
}