@import url('../common.scss');

@mixin disflex {
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes openSignUpSelectInfoModal {
    0% {
        // transform: perspective(7200px) rotateY(-180deg) translate(-50%, -50%);
        transform: rotateX(-270deg) translate(-50%, -50%);
    }
    
    100% {
        // transform: perspective(7200px) rotateY(-360deg) translate(-50%, -50%);
        transform: rotateX(-360deg) translate(-50%, -50%);
    }
}

.movie-sign-up-select-info-wrapper {
    background: #eee;
    width: 500px;
    height: 600px;
    transition-duration: 0.3s;
    animation: openSignUpSelectInfoModal .75s forwards 1;
    
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    z-index: 2001;
}