@import url('../common.scss');

@mixin disflex {
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    position: relative;
}

@keyframes openScrollBtn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes openReservationBtn {
    0% {
        transform: translate(-50px);
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
        transform: translate(-90px);
        display: block;
    }
}

@keyframes upDown {
    0% {
        transform: translateY(1px);
    }

    50% {
        transform: translateY(-4px);
    }

    100% {
        transform: translateY(1px);
    }
}

// scroll btn sticky
.scroll-btn-wrapper-sticky {
    width: 100px;
    height: 100px;
    transition-duration: .3s;
    animation: openScrollBtn 1s forwards 1;

    position: fixed;
    right: 50px;
    bottom: 50px;
    z-index: 2000;

    .scroll-btn-box {
        width: 100%;
        height: 100%;
        @include disflex();

        .reservation-btn {
            background: #fff;
            color: rgb(0, 117, 255, .9);
            border: 2px solid rgb(0, 117, 255, .9);
            border-radius: 30px;
            width: 120px;
            height: 50px;
            opacity: 0;
            transition-duration: .3s;
            animation: openReservationBtn 1s .3s forwards 1;
            overflow: hidden;
            cursor: pointer;
            @include disflex();

            position: absolute;
            z-index: 1900;

            &:hover {
                color: #fff;
            }

            &:hover .reservation-btn-background {
                transition-duration: .5s;
                width: 100%;
                z-index: -1;
            }

            .reservation-btn-background {
                background: rgb(0, 117, 255, .9);
                border: none;
                border-radius: 30px;
                width: 0;
                height: 100%;
                position: absolute;
                top: 0;
                left: 0;
            }

            .reservation-btn-text {
                font-size: 14px;
                font-weight: bold;
            }
        }

        .scroll-btn {
            background: #fff;
            color: rgb(0, 117, 255, .9);
            border: 2px solid rgb(0, 117, 255, .9);
            border-radius: 50%;
            width: 50px;
            height: 50px;
            overflow: hidden;
            cursor: pointer;
            z-index: 2000;

            &:hover {
                border-radius: 10px;
                transition-duration: .3s;
            }

            &:hover .scroll-btn-icon {
                transition-duration: .3s;
                animation: upDown 1s forwards infinite;
            }

            .scroll-btn-icon {
                width: 100%;
                height: 100%;
                font-size: 35px;
                @include disflex();
            }
        }
    }
}

.scroll-btn-wrapper {
    width: 100px;
    height: 100px;

    position: fixed;
    right: 50px;
    bottom: 50px;
    z-index: 2000;
    display: none;
}

// sticky-header
.header-top-banner_none {
    display: none;
}



// header 
#headerWrapper {
    width: 100%;
    height: 130px;
    z-index: 1500;

    position: fixed;
    top: 0;
    left: 0;

    .header-box {
        width: 980px;
        height: 100%;
        margin: 0 auto;

        // header 위쪽 banner
        .header-top-banner {
            border-bottom: 1px solid #ccc;
            background: none;
            width: 100%;
            height: 75%;
            display: flex;
            // animation: showHeaderTopBanner 1s forwards 1;

            @keyframes showHeaderTopBanner {
                0% {
                    transform: translateY(-100px);
                }

                100% {
                    transform: translateY(0);
                }
            }

            .header-main-logo-box {
                width: 10%;
                height: 100%;
                @include disflex();

                .header-main-logo {
                    width: 100%;
                    height: 100%;
                    // background: url('../../scss/img/MainLogo.png') no-repeat;
                    // background-size: 80%;
                    // background-position-x: 9px;
                    // background-position-y: 7px;
                }
            }

            .header-menu-box {
                background: none;
                width: 90%;
                height: 100%;

                .header-menu {
                    background: none;
                    width: 100%;
                    height: 100%;
                    display: flex;
                    justify-content: right;

                    .header-menu-list {
                        background: none;
                        width: 10%;
                        height: 100%;
                        cursor: pointer;

                        &:hover {
                            .header-menu-list-icons-box .header-menu-list-icons {
                                transition-duration: .3s;
                                color: rgb(0, 117, 255, .9);
                            }

                            .header-menu-list-text {
                                transition-duration: .3s;
                                color: rgb(0, 117, 255, .9);
                            }
                        }

                        .header-menu-list-icons-box {
                            width: 100%;
                            height: 60%;
                            position: relative;

                            .header-menu-list-icons {
                                color: #ccc;
                                font-size: 30px;
                                @include disflex();
                                position: absolute;
                                top: 20px;
                                left: 29px;
                            }
                        }

                        .header-menu-list-text {
                            color: #ccc;
                            width: 100%;
                            height: 40%;
                            font-size: 12px;
                            font-weight: bold;
                            cursor: pointer;
                        }

                        #memberShipText {
                            display: flex;
                            justify-content: center;
                        }
                    }
                }
            }
        }
    }
}