@import url('../common.scss');

@mixin disflex {
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes openSignUpModal {
    0% {
        opacity: 0;
    }
    
    100% {
        opacity: 1;
    }
}

#headerSignUpWrapper {
    border: 1px solid #33ffff;
    background: rgb(29, 29, 31, .9);
    width: 400px;
    height: 600px;
    overflow: hidden;
    transition-duration: 0.3s;
    animation: openSignUpModal 0.5s forwards 1;

    position: fixed;
    top: 54%;
    left: 50%;
    transform: translate(-50%, -50%);

    z-index: 2000;
}