@import url('../common.scss');

@mixin disflex {
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes openSignUpModal {
    0% {
        opacity: 0;
        position: fixed;
        top: 51%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    
    100% {
        opacity: 1;
        position: fixed;
        top: 51%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

#headerSignUpWrapper {
    border: 2px solid red;
    background: #fff;
    width: 400px;
    height: 600px;
    overflow: hidden;
    transition-duration: 0.3s;
    animation: openSignUpModal 0.5s forwards 1;

    position: fixed;
    top: 51%;
    left: 50%;
    transform: translate(-50%, -50%);

    z-index: 1000;
}