@import url('../common.scss');

@mixin disflex {
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes openSignUpModal {
    0% {
        opacity: 0;
    }
    
    100% {
        opacity: 1;
    }
}

.header-sign-up-wrapper {
    border: 1px solid rgb(0, 117, 255, .9);
    background: #fff;
    width: 400px;
    height: 600px;
    overflow: hidden;
    transition-duration: 0.3s;
    animation: openSignUpModal 0.5s forwards 1;

    position: fixed;
    top: 54%;
    left: 50%;
    transform: translate(-50%, -50%);

    z-index: 2000;

    .header-sign-up-btn-box {
        width: 400px;
        height: 25px;
        display: flex;

        position: absolute;
        top: 0;
        left: 0;

        .header-sign-up-back-btn-box {
            width: 50%;
            height: 100%;

            .header-sign-up-back-btn {
                background: none;
                width: 25px;
                height: 100%;
                cursor: pointer;
                @include disflex();
            }
        }

        .header-sign-up-close-btn-box {
            width: 50%;
            height: 100%;
            display: flex;
            justify-content: right;
            
            .header-sign-up-close-btn {
                background: none;
                width: 25px;
                height: 100%;
                cursor: pointer;
                @include disflex();
            }
        }
    }
}