@import url('../common.scss');

@mixin disflex {
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes openSignUpSelectInfoModal {
    0% {
        transform: translate(-50%, -50%);
        width: 400px;
        height: 500px;
        opacity: 0;
    }
    
    60% {
        transform: translate(-25%, -50%);
    }
    
    100% {
        transform: translate(-50%, -50%);
        width: 500px;
        height: 600px;
        opacity: 1;
    }
}

.movie-sign-up-select-info-wrapper {
    background: #eee;
    width: 500px;
    height: 600px;
    transition-duration: 0.3s;
    animation: openSignUpSelectInfoModal 1s forwards 1;
    opacity: 0;

    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    z-index: 2001;

    .movie-sign-up-select-info-box {
        width: 100%;
        height: 100%;

        .movie-sign-up-select-info-btn-box {
            width: 100%;
            height: 25px;
            display: flex;
            align-items: center;

            .movie-sign-up-select-info-btn-box {
                width: 50%;
                height: 100%;

                .movie-sign-up-select-info-btn {
                    color: rgb(0, 117, 255, .9);
                    width: 25px;
                    height: 25px;
                    font-size: 16px;
                    font-weight: bold;
                    cursor: pointer;
                    @include disflex();
                }
            }

            .close-box {
                display: flex;
                justify-content: right;
                align-items: center;
            }

        }
    }
}