@import url('../common.scss');

@mixin disflex {
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    position: relative;
}

@keyframes openLoginModal {
    0% {
        width: 0;
        height: 0;
    }

    50% {
        width: 400px;
        height: 0;
    }

    100% {
        width: 400px;
        height: 600px;
    }
}

// 로그인 모달
#Header-Login-Wrapper {
    border: 1px solid #b0b0ff;
    width: 400px;
    height: 600px;
    overflow: hidden;
    transition-duration: 0.3s;
    animation: openLoginModal 0.7s forwards 1;

    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    // 닫기
    #Close-Login-Modal-Wrapper {
        width: 30px;
        height: 30px;
        @include disflex();
        position: absolute;
        top: 0;
        left: 0;

        .header-login-close-btn {
            background: #fff;
            width: 100%;
            height: 100%;
            cursor: pointer;
        }
    }

    .header-login-box {
        width: 90%;
        height: 100%;
        margin: 0 auto;

        // Logo
        .header-login-logo-box {
            width: 100%;
            height: 25%;
            position: relative;

            .header-login-logo {
                background: url('../../scss/img/MainLogo.png') no-repeat;
                background-size: 100%;
                width: 50%;
                height: 80%;
                margin: 0 auto;
                @include disflex();

                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
        }

        // 사용자 정보 입력 창
        .header-login-user-info-box {
            width: 100%;
            height: 20%;

            .header-login-user-email-box {
                width: 100%;
                height: 50%;
                @include disflex();

                .header-login-user-email {
                    border: 1px solid #b0b0ff;
                    border-radius: 5px;
                    width: 100%;
                    height: 85%;
                    padding-left: 2%;

                    &:focus {
                        outline: none;
                    }
                }
            }

            .header-login-user-password-box {
                width: 100%;
                height: 50%;
                @include disflex();

                .header-login-user-password {
                    border: 1px solid #b0b0ff;
                    border-radius: 5px;
                    width: 100%;
                    height: 85%;
                    padding-left: 2%;

                    &:focus {
                        outline: none;
                    }
                }
            }
        }

        // 로그인 유지
        .header-login-keep-login-wrapper {
            width: 100%;
            height: 5%;

            .header-login-keep-login-box {
                width: 35%;
                height: 100%;
                display: flex;
                justify-content: left;
                align-items: center;

                .header-login-keep-login-check-btn {
                    border: 1px solid #000;
                    background: #fff;
                    width: 20px;
                    height: 20px;
                    cursor: pointer;
                }

                .header-login-keep-login-text {
                    margin-left: 5px;
                    font-size: 13px;
                }
            }
        }

        // 로그인 클릭
        .header-login-login-box {
            width: 100%;
            height: 10%;
            @include disflex();

            .header-login-login {
                background: #b0b0ff;
                border-radius: 5px;
                width: 100%;
                height: 80%;
                color: #fff;
                font-size: 16px;
                font-weight: bold;
                cursor: pointer;
            }
        }

        // 사용자 정보 찾기
        .header-login-find-info-wrapper {
            width: 100%;
            height: 5%;

            .header-login-find-info-box {
                width: 100%;
                height: 100%;
                @include disflex();

                .header-login-find-email-pw-box {
                    width: 70%;
                    height: 100%;
                    display: flex;
                    justify-content: center;

                    // 아이디 찾기
                    .header-login-find-email {
                        width: 45%;
                        height: 100%;
                        font-size: 13px;
                        @include disflex();

                        .header-login-find-email-text {
                            width: 65%;
                            cursor: pointer;
                        }
                    }

                    // 비밀번호 찾기
                    .header-login-find-pw {
                        width: 55%;
                        height: 100%;
                        font-size: 13px;
                        @include disflex();

                        .header-login-find-pw-text {
                            width: 65%;
                            cursor: pointer;
                        }
                    }
                }

                // 회원가입
                .header-login-signup-box {
                    width: 30%;
                    height: 100%;
                    @include disflex();

                    .header-login-signup {
                        width: 60%;
                        height: 100%;
                        font-size: 13px;
                        cursor: pointer;
                        @include disflex();
                    }
                }
            }
        }

        // 소셜 로그인
        .header-login-social-login-box {
            width: 100%;
            height: 35%;
            @include disflex();

            .header-login-social-login {
                width: 25%;
                height: 60%;

                .header-login-social-login-img-box {
                    width: 100%;
                    height: 60%;
                    @include disflex();

                    .header-login-social-login-img {
                        background: #b0b0ff;
                        border-radius: 50%;
                        width: 50px;
                        height: 50px;
                        cursor: pointer;
                    }
                }

                .header-login-social-login-text-box {
                    width: 100%;
                    height: 40%;

                    .header-login-social-login-select-text {
                        font-size: 13px;
                        @include disflex();
                    }

                    .header-login-social-login-text {
                        font-size: 13px;
                        @include disflex();
                    }
                }
            }
        }
    }


























}