@import url('../common.scss');

@mixin disflex {
    display: flex;
    justify-content: center;
    align-items: center;
}


// header 
#headerWrapper {
    width: 100%;
    height: 130px;
    z-index: 1500;

    background-color: transparent;
    background: -moz-linear-gradient(top, rgba(29,29,31,1) 0%, rgba(0,0,0,0) 100%);
    background: -webkit-linear-gradient(top, rgba(29,29,31,1) 0%,rgba(0,0,0,0) 100%);
    background: linear-gradient(to bottom, rgba(29,29,31,1) 0%,rgba(0,0,0,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#1d1d1f", endColorstr="#00000000",GradientType=0 );
        
    position: fixed;
    top: 0;
    left: 0;

    .header-box {
        width: 980px;
        height: 100%;
        margin: 0 auto;

        // header 위쪽 banner
        .header-top-banner {
            border-bottom: 1px solid #ccc;
            background: none;
            width: 100%;
            height: 75%;
            display: flex;

            .header-main-logo-box {
                width: 10%;
                height: 100%;
                @include disflex();

                .header-main-logo {
                    width: 100%;
                    height: 100%;
                    // background: url('../../scss/img/MainLogo.png') no-repeat;
                    // background-size: 80%;
                    // background-position-x: 9px;
                    // background-position-y: 7px;
                }
            }

            .header-menu-box {
                background: none;
                width: 90%;
                height: 100%;

                .header-menu {
                    background: none;
                    width: 100%;
                    height: 100%;
                    display: flex;
                    justify-content: right;
                    
                    .header-menu-list {
                        background: none;
                        width: 10%;
                        height: 100%;
                        
                        .header-menu-list-icons-box {
                            width: 100%;
                            height: 60%;
                            position: relative;
                            
                            .header-menu-list-icons {
                                color: #ccc;
                                font-size: 30px;
                                @include disflex();
                                position: absolute;
                                top: 20px;
                                left: 29px;
                            }
                        }

                        .header-menu-list-text {
                            color: #ccc;
                            width: 100%;
                            height: 40%;
                            font-size: 12px;
                            font-weight: bold;
                            transition-duration: 0.3s;
                            cursor: pointer;

                            &:hover {
                                color: #ff0000;
                            }
                        }

                        #memberShipText {
                            display: flex;
                            justify-content: center;
                        }
                    }
                }
            }
        }
    }
}