@import url('../../../common.scss');

@mixin disflex {
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes opacityBar {
    0% {
        opacity: 0;
    } 100% {
        opacity: 1;
    }
}

// sticky
.header-event-menu-wrapper_none {
    background: rgb(31, 31, 31, .7);
    width: 100vmax;
    height: 50px;
    animation: opacityBar 0.3s forwards 1;

    position: absolute;
    bottom: -97%;
    left: -1020%;
    z-index: 1000;

    .header-event-menu {
        width: 25%;
        height: 100%;
        margin: 0 auto;
        display: flex;
        justify-content: space-evenly;
        align-items: center;

        .header-event-menu-list {
            width: 33%;
            height: 100%; 

            &:hover {
                background: #fff;
            }

            &:hover .header-event-menu-list-text {
                color: rgb(31, 31, 31, .7);
            }

            .header-event-menu-list-text {
                color: #fff;
                width: 100%;
                height: 100%;
                font-size: 13px;
                font-weight: bold;
                @include disflex();
            }
        }
    }
}

.header-event-menu-wrapper {
    background: rgb(31, 31, 31, .7);
    width: 1920px;
    height: 50px;
    animation: opacityBar 0.3s forwards 1;

    position: absolute;
    bottom: -97%;
    left: -1015%;
    z-index: 1000;

    .header-event-menu {
        width: 25%;
        height: 100%;
        margin: 0 auto;
        display: flex;
        justify-content: space-evenly;
        align-items: center;

        .header-event-menu-list {
            width: 33%;
            height: 100%; 

            &:hover {
                background: #fff;
            }

            &:hover .header-event-menu-list-text {
                color: rgb(31, 31, 31, .7);
            }

            .header-event-menu-list-text {
                color: #fff;
                width: 100%;
                height: 100%;
                font-size: 13px;
                font-weight: bold;
                @include disflex();
            }
        }
    }
}



