@import url('../../common.scss');

@mixin disflex {
    display: flex;
    justify-content: center;
    align-items: center;
}

// 메인 화면 이벤트
#mainVisualEventWrapper {
    width: 100%;
    height: 100%;

    .main-visual-event-header {
        width: 100%;
        height: 8%;
        padding-top: 5px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .main-visual-event-header-text {
            height: 50%;
            @include disflex();
        }
        
        #title {
            font-size: 18px;
            font-weight: bold;
        }
        
        #more {
            font-size: 13px;
            
            .more-text {
                position: relative;
                margin-right: 10px;

                #rightIcons {
                    position: absolute;
                    top: 2px;
                    right: -12px;
                }
            }

        }
    }

    .main-visual-event-main {
        width: 100%;
        height: 90%;
    }
}

