@import url('../../../common.scss');

@mixin disflex {
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes opacity {
    0% {
        opacity: 0;
    } 100% {
        opacity: 1;
    }
}

// sticky 
.sticky-header-reservation-wrapper {
    background: rgb(31, 31, 31, .7);
    width: 100vmax;
    height: 50px;
    animation: opacity 0.3s forwards 1;

    position: absolute;
    bottom: -97%;
    left: 0%;
    z-index: 1000;

    .header-reservation-menu {
        width: 30%;
        height: 100%;
        margin: 0 auto;
        display: flex;
        justify-content: space-evenly;
        align-items: center;

        .header-reservation-menu-list {
            width: 33%;
            height: 100%; 

            &:hover {
                background: #fff;
            }

            &:hover .header-reservation-menu-list-text {
                color: rgb(31, 31, 31, .7);
            }

            .header-reservation-menu-list-text {
                color: #fff;
                width: 100%;
                height: 100%;
                font-size: 13px;
                font-weight: bold;
                @include disflex();
            }
        }
    }
}

.header-reservation-wrapper {
    background: rgb(31, 31, 31, .7);
    width: 980px;
    height: 50px;
    animation: opacity 0.3s forwards 1;

    position: absolute;
    bottom: -97%;
    left: 0%;
    z-index: 1000;

    .header-reservation-menu {
        width: 30%;
        height: 100%;
        margin: 0 auto;
        display: flex;
        justify-content: space-evenly;
        align-items: center;

        .header-reservation-menu-list {
            width: 33%;
            height: 100%; 

            &:hover {
                background: #fff;
            }

            &:hover .header-reservation-menu-list-text {
                color: rgb(31, 31, 31, .7);
            }

            .header-reservation-menu-list-text {
                color: #fff;
                width: 100%;
                height: 100%;
                font-size: 13px;
                font-weight: bold;
                @include disflex();
            }
        }
    }
}