@import url('../../../common.scss');

@mixin disflex {
    display: flex;
    justify-content: center;
    align-items: center;
}

// 예매하기 sticky
.header-movie-reservation-wrapper-sticky {
    background: #fff;
    width: 1200px;
    height: 800px;

    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    z-index: 3000;

    .header-movie-reservation-box {
        width: 100%;
        height: 100%;
        display: flex;
        
        .header-movie-reservation-progress-box {
            width: 100px;
            height: 800px;
        }
    
        .header-movie-reservation-info-box {
            width: 1200px;
            height: 800px;

            .header-movie-reservation-select-cinema-style-info-box {
                border-right: 1px solid #000;
                width: 350px;
                height: 100%;
            }
        }
    }
}

// 예매하기
.header-movie-reservation-wrapper {
    background: #fff;
    width: 1200px;
    height: 800px;

    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    z-index: 3000;

    .header-movie-reservation-box {
        width: 100%;
        height: 100%;
        display: flex;
        
        .header-movie-reservation-progress-box {
            width: 100px;
            height: 800px;
        }
    
        .header-movie-reservation-info-box {
            width: 1200px;
            height: 800px;

            .header-movie-reservation-select-cinema-style-info-box {
                border-right: 1px solid #000;
                width: 350px;
                height: 100%;
            }
        }
    }
}