@import url('../common.scss');

@mixin disflex {
    display: flex;
    justify-content: center;
    align-items: center;
}

// main
#movieMainWrapper {
    background: #fff;
    width: 100%;
    height: 3000px;
    position: relative;

    .main-visual-ad-change-btn-wrapper {
        width: 100%;
        height: 900px;
        display: flex;
        justify-content: space-between;
        position: absolute;

        .main-visual-ad-change-btn-box {
            width: 18%;
            height: 100%;
            @include disflex();
            border: 1px solid red;
        }

        .main-visual-ad-change-btn {
            background: none;
            color: #ccc;
            width: 35%;
            height: 11%;
            font-size: 80px;
            opacity: .5;
            cursor: pointer;
            @include disflex();
            z-index: 1;

            &:hover {
                border-radius: 50%;
                background: rgb(150, 150, 150, .5);
                opacity: .9;
            }
        }
    }

    .main-visual-ad-box {
        width: 100%;
        height: 1200px;
        position: relative;

        .main-visual-ad-header-background {
            background-color: transparent;
            background: -moz-linear-gradient(top, rgba(29, 29, 31, 1) 0%, rgba(0, 0, 0, 0) 100%);
            background: -webkit-linear-gradient(top, rgba(29, 29, 31, 1) 0%, rgba(0, 0, 0, 0) 100%);
            background: linear-gradient(to bottom, rgba(29, 29, 31, 1) 0%, rgba(0, 0, 0, 0) 100%);
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#1d1d1f", endColorstr="#00000000", GradientType=0);
            width: 100%;
            height: 150px;

            position: absolute;
            top: 0;
            left: 0;
        }

        .main-visual-ad-footer-background {
            background-color: transparent;
            background: -moz-linear-gradient(top, rgba(29, 29, 31, 1) 0%, rgba(0, 0, 0, 0) 100%);
            background: -webkit-linear-gradient(top, rgba(29, 29, 31, 1) 0%, rgba(0, 0, 0, 0) 100%);
            background: linear-gradient(to top, rgba(29, 29, 31, 1) 0%, rgba(0, 0, 0, 0) 100%);
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#1d1d1f", endColorstr="#00000000", GradientType=0);
            width: 100%;
            height: 150px;

            position: absolute;
            bottom: 30%;
            left: 0;
        }

        .main-visual-ad {
            background: url('../img/ad-test1.jpg') no-repeat;
            background-size: 100%;
            width: 100%;
            height: 70%;
        }

        .main-visual-ad-contents-wrapper {
            background: rgba(29, 29, 31, 1);
            width: 100%;
            height: 30%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            position: relative;
            
            .main-visual-ad-contents-change-btn-box {
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: space-between;
                
                position: absolute;
                top: 0;
                
                .main-visual-ad-contents-change-btn {
                    width: 30%;
                    height: 100%;
                    @include disflex();
                    
                    #beforeContents {
                        color: #ccc;
                        width: 50px;
                        height: 50px;
                        opacity: .5;
                        cursor: pointer;
                        
                        &:hover {
                            background: rgb(150, 150, 150, .4);
                            border-radius: 50%;
                            opacity: .9;
                        }
                    }

                    #afterContents {
                        color: #ccc;
                        width: 50px;
                        height: 50px;
                        opacity: .5;
                        cursor: pointer;

                        &:hover {
                            background: rgb(150, 150, 150, .4);
                            border-radius: 50%;
                            opacity: .9;
                        }
                    }
                }
            }
        }

        .main-visual-ad-contents-box {
            width: 980px;
            height: 100%;
            margin: 0 auto;
        }
    }

    // 이벤트
    .main-visual-event-box {
        border-bottom: 1px solid #000;
        width: 100%;
        height: 600px;
        @include disflex();

        .main-visual-event {
            width: 980px;
            height: 100%;
        }
    }
}