@import url('../common.scss');

@mixin disflex {
    display: flex;
    justify-content: center;
    align-items: center;
}

// main
#movieMainWrapper {
    background: #fff;
    width: 100%;
    height: 3000px;
    position: relative;

    .main-visual-ad-change-btn-wrapper {
        width: 100%;
        height: 900px;
        display: flex;
        justify-content: space-between;
        position: absolute;

        .main-visual-ad-change-btn-box {
            width: 18%;
            height: 100%;
            @include disflex();
        }

        .main-visual-ad-change-btn {
            background: none;
            color: #ccc;
            width: 30%;
            height: 30%;
            font-size: 80px;
            opacity: .5;
            cursor: pointer;
            @include disflex();

            &:hover {
                opacity: .9;
            }
        }
    }

    .main-visual-ad-box {
        width: 100%;
        height: 1200px;
        border-bottom: 1px solid #000;

        .main-visual-ad {
            background: url('../img/ad-test1.jpg') no-repeat;
            background-size: 100%;
            width: 100%;
            height: 70%;
            border-bottom: 1px solid red;
        }
        
        .main-visual-ad-contents-wrapper {
            background: rgba(29, 29, 31, 1);
            width: 100%;
            height: 30%;
            position: relative;

            .main-background {
                background-color: transparent;
                background: -moz-linear-gradient(top, rgba(29, 29, 31, 1) 0%, rgba(0, 0, 0, 0) 100%);
                background: -webkit-linear-gradient(top, rgba(29, 29, 31, 1) 0%, rgba(0, 0, 0, 0) 100%);
                background: linear-gradient(to top, rgba(29, 29, 31, 1) 0%, rgba(0, 0, 0, 0) 100%);
                filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#1d1d1f", endColorstr="#00000000", GradientType=0);
                width: 100%;
                height: 50%;
                position: absolute;
                top: -50%;
            }
        }

        .main-visual-ad-contents-box {
            width: 980px;
            height: 100%;
            margin: 0 auto;
        }
    }
}

