@import url('../common.scss');

@mixin disflex {
    display: flex;
    justify-content: center;
    align-items: center;
}

#movieMainAdContentsWrapper {
    width: 100%;
    height: 100%;

    .movie-main-ad-contents-list-box {
        width: 100%;
        height: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: center;

        .movie-main-ad-contents-list {
            background: #fff;
            border: none;
            border-radius: 5px;
            width: 175px;
            height: 300px;
            position: relative;

            &:hover .movie-main-ad-contents-img {
                transform: scale(1.1);
                transition-duration: 0.1s;
            }

            &:hover .movie-main-ad-contents-list-option-background-box {
                display: block;
                z-index: 1;
            }


            .movie-main-ad-contents-list-option-background-box {
                background: #000;
                width: 100%;
                height: 75%;
                opacity: .7;
                @include disflex();

                position: absolute;
                top: 0;
                left: 0;

                display: none;

                .movie-main-ad-contents-list-option-background {
                    width: 100%;
                    height: 40%;
                    position: absolute;
                    top: 30%;

                    .list-reservation-btn-box {
                        background: #000;
                        width: 100%;
                        height: 50%;
                        @include disflex();

                        .list-reservation-btn {
                            background: #000;
                            color: #fff;
                            border: 2px solid #fff;
                            border-radius: 5px;

                            &:hover {
                                border: 2px solid #ff0000;
                            }
                            
                            .list-reservation-btn-text {
                                width: 140px;
                                height: 30px;
                                font-weight: bold;
                                cursor: pointer;
                                @include disflex();
                            }
                        }
                        
                    }
                    
                    .list-info-btn-box {
                        background: #000;
                        width: 100%;
                        height: 50%;
                        @include disflex();
                        
                        .list-info-btn {
                            background: #000;
                            color: #fff;
                            border: 2px solid #fff;
                            border-radius: 5px;
                            
                            &:hover {
                                border: 2px solid #ff0000;
                            }

                            .list-info-btn-text {
                                width: 140px;
                                height: 30px;
                                font-weight: bold;
                                cursor: pointer;
                                @include disflex();
                            }
                        }
                    }
                }
                
            }

            
            .movie-main-ad-contents-img-box {
                width: 100%;
                height: 75%;
                overflow: hidden;
                
                .movie-main-ad-contents-img {
                    border-radius: 5px 5px 0 0;
                    background: url('../img/ad-test2.jpg') no-repeat;
                    background-size: 100%;
                    width: 100%;
                    height: 100%;
                    transition-duration: 0.2s;
                    @include disflex();
                }
            }

            .movie-main-ad-contents-title-box {
                background: rgb(29, 29, 31, 1);
                width: 100%;
                height: 15%;
                @include disflex();

                .movie-main-ad-contents-title {
                    color: #fff;
                    width: fit-content;
                    height: fit-content;
                    font-size: 13px;
                    font-weight: bold;
                }
            }

            .movie-main-ad-contents-grade-box {
                background: rgb(29, 29, 31, 1);
                border-radius: 0 0 5px 5px;
                width: 100%;
                height: 10%;
                @include disflex();

                .movie-main-ad-contents-reservation-rate {
                    background: rgb(29, 29, 31, 1);
                    width: 40%;
                    height: 100%;

                    .movie-main-ad-contents-reservation-rate-text {
                        color: #fff;
                        width: 100%;
                        height: 100%;
                        font-size: 10px;
                        font-weight: bold;
                        @include disflex();
                    }
                }

                .movie-main-ad-contents-star-point {
                    background: rgb(29, 29, 31, 1);
                    width: 30%;
                    height: 100%;
                    @include disflex();
                    
                    .movie-main-ad-contents-star-point-text {
                        color: #fff;
                        width: 30%;
                        height: 100%;
                        font-size: 10px;
                        font-weight: bold;
                        @include disflex();
                    }

                    #starPoint {
                        color: #ffff00;
                    }
                }
            }









        }
    }
}