@import url('../common.scss');

@mixin disflex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.movie-footer-wrapper {
    background: rgb(29, 29, 31, 1);
    width: 100%;
    height: 350px;

    .movie-footer-box {
        width: 980px;
        height: 100%;
        margin: 0 auto;

        .movie-footer-header {
            width: 100%;
            height: 20%;

            .movie-footer-header-menu {
                width: 100%;
                height: 100%;
            }
        }

        .movie-footer-main {
            width: 100%;
            height: 20%;

            .movie-footer-main-text-box {
                width: 100%;
                height: 100%;
            }
        }

        .movie-footer-bottom {
            width: 100%;
            height: 50%;

            .movie-footer-bottom-text-box {
                width: 100%;
                height: 100%;
                @include disflex();
                
                .movie-footer-bottom-text {
                    color: rgb(255, 255, 255, .8);
                    width: 100%;
                    height: 100%;
                    font-size: 13px;
                    @include disflex();
                }
            }
        }

    }
}