@import url('../common.scss');

@mixin disflex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.movie-footer-wrapper {
    border-top: 1px solid #000;
    background: #eee;
    width: 100%;
    height: 350px;
    @include disflex();
}