  @mixin disflex {
      display: flex;
      justify-content: center;
      align-items: center;
  }

  * {
      margin: 0;
      padding: 0;
      text-decoration: none;
      list-style: none;
      border: none;
      box-sizing: border-box;
      letter-spacing: -1px;
    }