@import url('../../common.scss');

@mixin disflex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-menu-bar-wrapper-none {
    background: none;
    width: 100vmax;
    height: 50px;

    position: fixed;
    top: 0;
    left: 0;

    .header-menu-bar-box {
        width: 100%;
        height: 100%;
    }
}

.header-menu-bar-wrapper {
    width: 980px;
    height: 50px;
    opacity: 0;
    animation: showHeaderBottomBanner 1s .8s forwards 1;

    @keyframes showHeaderBottomBanner {
        0% {
            transform: translateY(-10px);
        }

        100% {
            transform: translateY(0);
            opacity: 1;
        }

    }

    .header-menu-bar-box {
        width: 50%;
        height: 100%;
        margin: 0 auto;
    }
}