@import url('../../common.scss');

@mixin disflex {
    display: flex;
    justify-content: center;
    align-items: center;
}

#headerMenuWrapper {
    width: 980px;
    height: 52px;
    display: flex;
    justify-content: space-between;
    
    .header-bottom-menu {
        width: 50%;
        height: 100%;
        display: flex;

        .header-bottom-menu-list {
            width: 20%;
            height: 100%;
            cursor: pointer;
            @include disflex();
            position: relative;

            &:hover {
                color: #ff0000;
            }

            &:hover .header-bottom-menu-list-text {
                transform: translateY(2px);
                transition-duration: 0.2s;
            }

            .header-bottom-menu-list-text {
                border-right: 1px solid #6633ff;
                width: 100%;
                height: 50%;
                font-weight: bold;
                transition-duration: 0.1s;
                @include disflex();
            }

            #Reservation {
                color: #ff0000;
            }

            #Store {
                border: none;
            }
        }
    }
}