@import url('../../common.scss');

@mixin disflex {
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes move {
    0% {
        opacity: 0;
        width: 95%;
    } 100% {
        opacity: 1;
        width: 100%;
    }
}

.sticky_header_bottom_menu {
    border-bottom: 1px solid #ccc;
    background: #fff;
    width: 100vmax;
    height: 52px;
    display: flex;
    justify-content: center;
    // animation: move .5s forwards 1;
    
    position: fixed;
    top: 0;
    left: 0;

    .header-bottom-menu {
        width: 500px;
        height: 100%;
        display: flex;
        justify-content: center;
        
        .header-bottom-menu-list {
            color: #000;
            width: 20%;
            height: 100%;
            cursor: pointer;
            @include disflex();
            position: relative;

            &:hover {
                color: #ff0000;
            }

            &:hover .header-bottom-menu-list-text {
                transform: translateY(2px);
                transition-duration: 0.1s;
            }

            .header-bottom-menu-list-text {
                border-right: 1px solid #ccc;
                width: 100%;
                height: 50%;
                font-weight: bold;
                transition-duration: 0.1s;
                @include disflex();
            }

            #Reservation {
                color: #ff0000;
            }

            #Store {
                border: none;
            }
        }
    }
}


.header_menu_wrapper {
    width: 980px;
    height: 52px;
    position: relative;

    .header-bottom-menu {
        width: 50%;
        height: 100%;
        display: flex;

        .header-bottom-menu-list {
            color: #ccc;
            width: 20%;
            height: 100%;
            cursor: pointer;
            @include disflex();
            position: relative;

            &:hover {
                color: #ff0000;
            }

            &:hover .header-bottom-menu-list-text {
                transform: translateY(2px);
                transition-duration: 0.1s;
            }

            .header-bottom-menu-list-text {
                border-right: 1px solid #ccc;
                width: 100%;
                height: 50%;
                font-weight: bold;
                transition-duration: 0.1s;
                @include disflex();
            }

            #Reservation {
                color: #ff0000;
            }

            #Store {
                border: none;
            }
        }
    }
}