@import url('../../common.scss');

@mixin disflex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.movie-main-special-cinema-main-wrapper {
    width: 100%;
    height: 100%;
    
    .movie-main-special-cinema-main-select-box {
        width: 100%;
        height: 100%;
        display: flex;

        .movie-main-special-cinema-main-img-box {
            width: 50%;
            height: 100%;
            display: flex;
            justify-content: left;
            align-items: center;
            
            .movie-main-special-cinema-main-img {
                border: 2px solid rgb(255, 255, 255, .7);
                background: none;
                border-radius: 10px;
                width: 95%;
                height: 100%;
                @include disflex();
            }
        }

        .movie-main-special-cinema-main-select-menu-box {
            width: 50%;
            height: 100%;
            display: flex;
            justify-content: right;
            align-items: center;
            
            .movie-main-special-cinema-main-select-menu {
                width: 95%;
                height: 100%;

                .movie-main-special-cinema-main-select-menu-list {
                    width: 100%;
                    height: 25%;
                    transition-duration: .2s;
                    opacity: 0;
                    cursor: pointer;
                    position: relative;
                    display: flex;
                    justify-content: right;
                    align-items: center;
                    display: none;

                    &:hover .movie-main-special-cinema-main-select-menu-list-text {
                        font-weight: bold;
                    }

                    .movie-main-special-cinema-main-select-menu-list-text-box {
                        width: 50%;
                        height: 100%;
                        @include disflex();

                        .movie-main-special-cinema-main-select-menu-list-text {
                            color: rgb(255, 255, 255, .7);
                            width: 100%;
                            height: 100%;
                            padding-left: 2%;
                            font-size: 18px;
                            letter-spacing: -1px;
                            display: flex;
                            justify-content: left;
                            align-items: center;
                        }
                    }
                    
                    .movie-main-special-cinema-main-select-menu-list-tag-box {
                        width: 50%;
                        height: 100%;
                        font-size: 13px;
                        @include disflex();
                        position: absolute;
                        top: 0;
                        right: 0;
                        
                        .movie-main-special-cinema-main-select-menu-list-tag {
                            color: rgb(255, 255, 255, .7);
                            border-radius: 3px;
                            width: fit-content;
                            height: fit-content;
                            padding: 4px;
                            letter-spacing: -1px;
                            @include disflex();
                        }
                    }
                }

                @keyframes openOpacity {
                    0% {
                        opacity: 0;
                    } 100% {
                        opacity: 1;
                    }
                }

                #Suite {
                    animation: openOpacity 1s .5s forwards 1;
                    display: block;
                }
                
                #LivingRoom {
                    animation: openOpacity 1s 1s forwards 1;
                    display: block;
                }
                
                #DX {
                    animation: openOpacity 1s 1.5s forwards 1;
                    display: block;
                }
                
                #Chef {
                    animation: openOpacity 1s 2s forwards 1;
                    display: block;
                }
            }
        }
    }
}