@import url('../../common.scss');

@mixin disflex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.movie-main-special-cinema-main-wrapper {
    width: 100%;
    height: 100%;
    
    .movie-main-special-cinema-main-select-box {
        width: 100%;
        height: 100%;
        display: flex;

        .movie-main-special-cinema-main-img-box {
            width: 50%;
            height: 100%;
            display: flex;
            justify-content: left;
            align-items: center;
            
            .movie-main-special-cinema-main-img {
                border: 1px dotted #aaa;
                background: none;
                border-radius: 10px;
                width: 95%;
                height: 100%;
                @include disflex();
            }
        }

        .movie-main-special-cinema-main-select-menu-box {
            width: 50%;
            height: 100%;
            display: flex;
            justify-content: right;
            align-items: center;
            
            .movie-main-special-cinema-main-select-menu {
                width: 95%;
                height: 100%;

                .movie-main-special-cinema-main-select-menu-list {
                    border-bottom: 1px solid #aaa;
                    width: 100%;
                    height: 25%;
                    transition-duration: .5s;
                    cursor: pointer;
                    display: flex;
                    justify-content: right;
                    align-items: center;

                    &:hover {
                        opacity: .8;
                        background: #fff;
                    }

                    &:hover .movie-main-special-cinema-main-select-menu-list-text {
                        font-weight: bold;
                    }

                    .movie-main-special-cinema-main-select-menu-list-text-box {
                        width: 50%;
                        height: 100%;
                        @include disflex();

                        .movie-main-special-cinema-main-select-menu-list-text {
                            width: 100%;
                            height: 100%;
                            padding-left: 2%;
                            font-size: 18px;
                            display: flex;
                            justify-content: left;
                            align-items: center;
                        }
                    }

                    .movie-main-special-cinema-main-select-menu-list-tag-box {
                        width: 50%;
                        height: 100%;
                        font-size: 13px;
                        @include disflex();

                        .movie-main-special-cinema-main-select-menu-list-tag {
                            background: #ddd;
                            border-radius: 3px;
                            width: fit-content;
                            height: fit-content;
                            padding: 4px;
                            @include disflex();
                        }
                    }
                }
            }
        }
    }
}