@import url('../../../common.scss');

@mixin disflex {
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes opacity {
    0% {
        opacity: 0;
    } 100% {
        opacity: 1;
    }
}

// sticky
.header-cinema-menu-list-wrapper_none {
    background: rgb(31, 31, 31, .7);
    width: 100vmax;
    height: 50px;
    animation: opacity 0.3s forwards 1;

    position: absolute;
    bottom: -97%;
    left: -920%;
    z-index: 1000;

    .header-cinema-menu-list-box {
        width: 100%;
        height: 100%;
        @include disflex();

        .header-cinema-menu-list {
            width: 7%;
            height: 100%;

            &:hover {
                background: #fff;
            }

            &:hover .header-cinema-menu-list-text {
                color: rgb(31, 31, 31, .7);
            }

            .header-cinema-menu-list-text {
                color: #fff;
                width: 100%;
                height: 100%;
                font-size: 13px;
                font-weight: bold;
                @include disflex();
            }
        }
    }
}

.header-cinema-menu-list-wrapper {
    background: rgb(31, 31, 31, .7);
    width: 980px;
    height: 50px;
    animation: opacity 0.3s forwards 1;

    position: absolute;
    bottom: -97%;
    left: -450%;
    z-index: 1000;

    .header-cinema-menu-list-box {
        width: 100%;
        height: 100%;
        @include disflex();

        .header-cinema-menu-list {
            width: 10%;
            height: 100%;

            &:hover {
                background: #fff;
            }

            &:hover .header-cinema-menu-list-text {
                color: rgb(31, 31, 31, .7);
            }

            .header-cinema-menu-list-text {
                color: #fff;
                width: 100%;
                height: 100%;
                font-size: 13px;
                font-weight: bold;
                @include disflex();
            }
        }
    }
}